body {
    background-image: url(https://images-ext-1.discordapp.net/external/rNESIZpgj8ZdLZbNAmxGrF0xLLyV9plOiAB9uMSCYB8/https/media.tenor.com/JWAifekTghQAAAAM/thebaus-baussi.gif?width=165&height=56);
    color: #c9d1d9;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.vcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 30px;
    border: 2px solid #30363d;
    border-radius: 12px;
    background-color: rgba(22, 27, 34, 0.5);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #5865f2;
    margin-bottom: 20px;
}


.info-section h1 {
    color: #5865f2;
    margin-bottom: 5px;
}

.info-section h2 {
    color: #8b949e;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 0;
}

.bio {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 20px;
    background-color: #21262d;
    padding: 10px 20px;
    border-left: 4px solid #5865f2;
    margin: 15px 0;
    font-style: italic;
}

.contact-section h3 {
    margin-top: 10px;
    color: #5865f2; 
}



.contact-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.contact-section a {
    color: #5865f2;
    text-decoration: none;
}


.contact-section a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px)
{
    .vcard {
        width: 90%;
        padding: 15px;
        box-sizing: border-box;
    }
.info-section {
    text-align: center;
}
.avatar {
    width: 100px;
    height: 100px;
}
}



